.errorMessage {
  margin-top: 0.3rem;
  font-family: monospace;
  font-weight: 600;
  font-size: 0.9rem;
}

.formDetails.success input,
.formDetails.success textarea {
  outline: none;
  border-color: #09c372;
}

.formDetails.error input,
.formDetails.error textarea {
  border-color: #f2070e;
}