<footer class="footer">
  <div class="footer__top">
    <div class="container-inner">
      <div class="footer__top-wrapper">
        <a class="logo" href="index.html">
          <img src="./img/svg/primary-logo.svg" alt="logo">
        </a>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="index.html">Home</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="index.html">Services</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Our Facility</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">About</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container-inner ">
      <div class="footer__bottom-wrapper">
        <ul class="footer__bottom-list">
          <li class="footer__bottom-item">
            <a href="https://www.instagram.com" target="_blank">
              <img src="./img/svg/instagram.svg" alt="instagram icon">
            </a>
          </li>
          <li class="footer__bottom-item">
            <a href="#" target="_blank">
              <img src="./img/svg/park.svg" alt="park icon">
            </a>
          </li>
          <li class="footer__bottom-item">
            <a href="https://uk-ua.facebook.com" target="_blank">
              <img src="./img/svg/facebook.svg" alt="facebook icon">
            </a>
          </li>
          <li class="footer__bottom-item">
            <a href="https://www.youtube.com" target="_blank">
              <img src="./img/svg/youtube.svg" alt="youtube icon">
            </a>
          </li>
        </ul>
        <p class="copyright">Copyright 2024 <span>|</span> All Rights Reserved</p>
      </div>
    </div>
  </div>

</footer>