<div class="setting">

  <div class="header-buttons">
    <button class="open">O</button>
    <button class="up">Up</button>
    <button class="down">Down</button>

  </div>

  <div class="setting-block">
    <p class="setting-font__family">
    </p>
    <p class="setting-font__number">0</p>
    <button class="setting__select-text">Select text</button>
    <div class="buttons-family">
      <button class="prev">Prev</button>
      <button class="next">Next</button>
    </div>

    <div class="buttons-style">
      <button class="normal">Normal</button>
      <button class="italic">Italic</button>
    </div>

    <div class="buttons-weight">
      <button class="prev">-100</button>
      <button class="next">+100</button>
      <p class="setting-font__weight">100</p>
    </div>

    <div class="buttons-size">
      <button class="prev">-1</button>
      <button class="next">+1</button>
      <p class="setting-size">16px</p>
    </div>

  </div>
</div>
